apiVersion: v1
values:
  images:
    cesControl: cloudogu/k8s-ces-control:1.8.0
patches:
  values.yaml:
    manager:
      image:
        registry: "{{ registryFrom .images.cesControl }}"
        repository: "{{ repositoryFrom .images.cesControl }}"
        tag: "{{ tagFrom .images.cesControl }}"
